<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_10" class="java.beans.XMLDecoder"> 
 <object class="lpr.minikazaa.minikazaaclient.NodeConfig"> 
  <void property="bootStrapAddress"> 
   <string>dd</string> 
  </void> 
  <void property="isSN"> 
   <boolean>true</boolean> 
  </void> 
  <void property="maxConnection"> 
   <int>10</int> 
  </void> 
  <void property="myAddress"> 
   <string>192.168.1.165</string> 
  </void> 
  <void property="port"> 
   <int>5555</int> 
  </void> 
  <void property="timeToLeave"> 
   <int>10</int> 
  </void> 
  <void property="userName"> 
   <string>massi</string> 
  </void> 
 </object> 
</java> 
