<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_06" class="java.beans.XMLDecoder"> 
 <object class="lpr.minikazaa.minikazaaclient.NodeConfig"> 
  <void property="bootStrapAddress"> 
   <string>127.0.1.1</string> 
  </void> 
  <void property="isSN"> 
   <boolean>true</boolean> 
  </void> 
  <void property="maxConnection"> 
   <int>100</int> 
  </void> 
  <void property="myAddress"> 
   <string>169.254.9.58</string> 
  </void> 
  <void property="port"> 
   <int>5656</int> 
  </void> 
  <void property="timeToLeave"> 
   <int>100</int> 
  </void> 
  <void property="userName"> 
   <string>massi</string> 
  </void> 
 </object> 
</java> 
